{% extends 'layout/base.html.twig' %}

{% block title %}
    All categories
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1> {{ 'category.index'|trans }}</h1>
    <div class="categories container-fluid">
        <div class="row index">
            {% for category in categories %}
                <div class="category col-lg-3 col-md-6 col">
                    <h2>
                        {{ loop.index }}/ {{ category.name }}
                    </h2>
                    <a href="{{ path("category_show", { categoryName: category.name }) }}">
                        {{ 'category.view'|trans }}
                    </a>
                </div>

            {% else %}
            {{ 'category.empty'|trans }}
            {% endfor %}
        </div>
    </div>

    <div class="retour">
        <a class="lien"  href="{{ path('app_index') }}">
            Retour à l'acceuil
        </a>
    </div>


{% endblock %}
