{% extends "layout/base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1> Envie d'ajouter une nouvelle catégorie ?</h1>

    <div class="ajout">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type='submit' value='Ajouter !'>
        {{ form_end(form) }}
    </div>

{% endblock %}