{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Episode index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th class="title">Title</th>
                <th>Number</th>
                <th>Synopsis</th>
                <th class="action">actions</th>
            </tr>

        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <th colspan="5"class="title">
                    {{ episode.season.program.title }}
                </th>
            </tr>
            <tr>
                <td>{{ episode.id }}</td>
                <td class="title">{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a href="{{ path('episode_show', {episode: episode.id}) }}">show</a>
                    <a href="{{ path('episode_edit', {episode: episode.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('episode_new') }}">Create new</a>
{% endblock %}
