{% extends 'layout/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}
    {{ program.title }} |  {{ episode.title }}
{% endblock %}

{%  block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0"> {{ program.title }} </h1>
            <h1> {{ 'program.season'|trans }} {{ season.number }} </h1>
            <div class="text-white">
                {{ 'program.date'|trans }}: {{ season.year }} <br>
                {{ season.description }}
            </div>
            <div class="episode">
                <h1> {{ 'program.episode'|trans }} {{ episode.number }}: <span> <h2> {{ episode.title }} </h2></span> </h1>
                {{ episode.synopsis }}
            </div>
                {% if app.user %}
                    <h3>{{ 'program.comment'|trans }}</h3>
                    <div class="center container-fluid">
                        <div class="col-lg-6">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            {{ form_widget(form) }}
                            <input type='submit' value='Ajouter !'>
                            {{ form_end(form) }}
                        </div>
                    </div>
                {% endif %}

            <h3>{{ 'program.avis'|trans }}</h3>
            <div class="container-fluid">
                <div class="row index">
                {% for comment in comments %}
                    <div class="col-lg-4 text-white comment">
                                <h5>
                                    {% if comment.author.surname %}
                                        {{ comment.author.surname }}
                                    {% else %}
                                        {{ comment.author.lastname ~' '~ comment.author.firstname }}
                                    {% endif %}
                                </h5>
                                <div class="tab">
                                    <p>
                                        {{ 'program.note'|trans }}: {{ comment.rate }} <br>
                                        {{ comment.comment }}
                                    </p>
                                    {% if app.user %}
                                    {% if comment.author == app.user or is_granted("ROLE_ADMIN") %}
                                        {{ include('comment/_delete_form.html.twig') }}
                                    {% endif %}
                                    {% endif %}
                                </div>
                    </div>
                        {% else %}
                            <div class="text-white">
                                <h5>
                                    {{ 'program.no_comment'|trans }}
                                </h5>
                            </div>
                {% endfor %}
                </div>
                <div class="retour">
                    <a class="lien" href="{{ path('program_season_show', {slug : program.slug, season : season.number}) }}">
                        {{ 'program.back_season'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
