{% extends 'layout/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}
    All programs
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>{{ 'program.index'|trans }}</h1>

    <div class="center container-fluid">
        {{ form_start(form) }}
        {{ form_widget(form)}}
        <button class="btn">{{ 'program.search'|trans }}</button>
        {{ form_end(form) }}
    </div>


    <div class="container-fluid">
        <div class="row index">
    {% for program in programs %}
        <div class="col-lg-4 program">
            <a href="{{ path("program_show", { slug: program.slug }) }}">
                <img class="poster" src="{{ program.poster }}" alt="Affiche {{ program.title }}">
            </a>
            <div class="description">
                <h2 class="title">{{ loop.index }}/ {{ program.title }}</h2>
                <h3> Catégorie: {{ program.category.name }}</h3>
                <p>{{ program.summary}}</p>
                <a href="{{ path("program_show", { slug: program.slug }) }}">
                    {{ 'program.view'|trans }}
                </a>
            </div>
        </div>
    {% else %}
            {{ 'program.empty'|trans }}
    {% endfor %}
        </div>
    </div>

    <div class="retour">
        <a class="lien" href="{{ path('app_index') }}">
            {{ 'general.back'|trans}}
        </a>
    </div>


{% endblock %}
