{% extends 'layout/base.html.twig' %}

{% block title %}
    {{ program.title }} | Saison {{ season.number }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0"> {{ program.title }} </h1>
            <h1> Saison {{ season.number }} </h1>
            <div class="text-white presentation">
                Date de diffusion: {{ season.year }} <br>
                {{ season.description }}
            </div>
            <div>
                <p>
                Liste des épisodes:
                </p>
                <div class="row index ">
                    {% for episode in episodes %}
                    <div class="col-lg-6">
                        Episode {{ episode.number }}: <br>
                            <span class="text-white"> {{ episode.title }} </span> <br>
                        <a class="tab" href="{{ path('program_episode_show', {programSlug: program.slug, season: season.number, episodeSlug: episode.slug}) }}">
                            Voir la fiche de l'épisode
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="retour">
                <br><br>
                <a class="lien" href="{{ path('program_show', {slug : program.slug}) }}">
                    Retour à la fiche du programme
                </a>
            </div>
        </div>
    </div>

{% endblock %}