{% extends 'layout/base.html.twig' %}

{% block title %}
    {{ program.title }} | {{ 'program.season'|trans }} {{ season.number }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0"> {{ program.title }} </h1>
            <h1> {{ 'program.season'|trans }} {{ season.number }} </h1>
            <div class="text-white presentation">
                {{ 'program.date'|trans }}: {{ season.year }} <br>
                {{ season.description }}
            </div>
            <div>
                <p>
                    {{ 'program.episode_list'|trans }}:
                </p>
                <div class="row index ">
                    {% for episode in episodes %}
                    <div class="col-lg-6">
                        {{ 'program.episode'|trans }} {{ episode.number }}: <br>
                            <span class="text-white"> {{ episode.title }} </span> <br>
                        <a class="tab" href="{{ path('program_episode_show', {programSlug: program.slug, season: season.number, episodeSlug: episode.slug}) }}">
                            {{ 'program.episode_show'|trans }}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="retour">
                <br><br>
                <a class="lien" href="{{ path('program_show', {slug : program.slug}) }}">
                    {{ 'program.back_program'|trans}}
                </a>
            </div>
        </div>
    </div>

{% endblock %}
