{% extends 'layout/base.html.twig' %}

{% block body %}

    <h1> {{ 'actor.star'|trans }} </h1>
    <div class="container-fluid actors">
        <div class="actor">
            <h2> Yavuz KUTUK </h2>
            <a href="https://www.linkedin.com/in/yavuzkutuk/"><img src="{{ asset('build/yavuz.jpg') }}" alt="God Yavuz"/></a>
        </div>

        <div class="actor">
            <h2> Gilles SAMUEL </h2>
            <a href="https://www.linkedin.com/in/gilles-samuel/"><img src="{{ asset('build/gilles.jpg') }}" alt="God Gilles"/></a>
        </div>
    </div>

        <h1>
            {{ 'actor.index'|trans }}
        </h1>
        <div class="row">
            {% for actor in actors %}
                <div class="col-md-4">
                    <a class="lien" href="{{ path('actor_show', {actor: actor.id}) }}">
                        <h2>
                            {{ actor.name }}
                        </h2>
                    </a>
                </div>
            {% else %}
                {{ 'actor.empty'|trans }}
            {% endfor %}
        </div>

{% endblock %}
