{% extends 'base.html.twig' %}

{% block title %}
    {{ actor.name }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>
        {{ actor.name }}
    </h1>

    <div class="centré">
        <h2>
            Série dans lesquelles on a pu le voir:
        </h2>
        <div>
            <ul>
                {% for program in actor.programs %}
                <li>
                    <a href="{{ path('program_show', {id: program.id}) }}" class="text-white">
                        {{ program.title }}
                    </a>
                </li>
                {% else %}
                <li>
                    Aucune série pour l'instant
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="retour">
            <a href="{{ path('actor_index') }}">
                Retour à la liste des acteurs
            </a>
        </div>
    </div>


{% endblock %}