{% extends 'layout/base.html.twig' %}

{% block title %}
    {{ actor.name }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>
        {{ actor.name }}
    </h1>

    <div class="centré">
        <h2>
            {{ 'actor.program'|trans }}:
        </h2>
        <div>
            <ul>
                {% for program in actor.programs %}
                <li>
                    <a href="{{ path('program_show', {slug: program.slug}) }}" class="text-white">
                        {{ program.title }}
                    </a>
                </li>
                {% else %}
                <li>
                    {{ 'actor.program_empty'|trans }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="retour">
            <a class="lien"  href="{{ path('actor_index') }}">
                {{ 'actor.back'|trans }}
            </a>
        </div>
    </div>


{% endblock %}
