{% extends 'layout/base.html.twig' %}

{% block body %}

    <h1>Bienvenue sur {{ website }}</h1>
    <div class="centré">
        <h2> Prêt
            {% if app.user %}
            {% if app.user.surname  %}
            {{ app.user.surname }}
            {% else %}
            {{ app.user.firstname }}
            {% endif %}
            {% endif %}
            pour le bingewatching ?</h2>
        <img src="{{ asset('build/dogTV.gif') }}" alt="Dog watching TV">
    </div>

    <h2>Voici les dernières séries ajoutées</h2>

    <div class="container-fluid">
    <div class="row index">
    {% for program in programs %}
    <div class="col-lg-4 program">
    <a href="{{ path("program_show", { slug: program.slug }) }}">
        <img class="poster" src="{{ program.poster }}" alt="Affiche {{ program.title }}">
    </a>
    </div>
    {% endfor %}
    </div>
    </div>

{% endblock %}